{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <!-- Heading -->
    <!-- Card -->
    <h2 class=" z-depth-1 cart-header">
        <strong>Your shopping basket</strong></h2>
    <br>
    {% if product_count > 0 %}
    <div class="row">
        {% for photo in cart_items %}
        <div class="col-12 col-sm-6 col-md-4 ">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top" src="{{ photo.product.image.url }}" alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title"><a> {{ photo.product.title }}</a></h4>
                    <!-- Text -->
                </div>
                <div class="card-footer">
                    <form method="post" action="{% url 'adjust_cart' photo.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Quantity </label>
                            <div class="input-group">

                                <input name="quantity" type="number" min="1" max="999" class="form-control"
                                       value="{{ photo.quantity}}" required>
                            </div>
                        </div>
                        <button type="submit" class="btn badge-warning text-right">
                            <span
                                    class="glyphicon glyphicon-edit"
                                    aria-hidden="true"></span>Adjust
                        </button>
                        <a href="{% url 'remove_from_cart' photo.id %}"
                           class="btn badge-warning text-right"><span
                                class="glyphicon glyphicon-edit"
                                aria-hidden="true"></span>Delete
                        </a>
                    </form>
                </div>
            </div>
            <!-- Card -->
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="row">
        <div class="col-6">
            <div class="text-center">
                <h4> You have no items in your basket!</h4>
                <span>
        <a class="text-right" href="{% url 'gallery' %}">Click here to start shopping
                        </a>
    </span>
            </div>
        </div>
        <div class="col-6">
            <div class="text-center">
                <h4>Need an account? </h4>
                <span> <a class="text-right" href="{% url 'register' %}">Sign up here
                   </a></span>
                <br>
                <h4>Have an account?</h4>
                <span><a class="account-link" href="{% url 'login' %}">Login here
                    </a></span>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Card -->
    <div>
        <p class="mx-5 mb-5">
        </p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> Cart</a>
        <!-- Cart -->
        <ul class="list-group mb-3 z-depth-1">
            {% for photo in cart_items %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{ photo.product.title }}</h6>
                </div>
                <!-- This is to work out the total -->
                <span class="text-muted">£{% widthratio photo.product.price 1 photo.quantity %}</span>
                <!-- This is to work out the total -->
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
                <strong> Total (GBP)</strong>
                <strong>£{{ total }}</strong>
            </li>
            {% if product_count > 0 %}
            <li class="list-group-item d-flex justify-content-between text-right">
                <strong>Ready to Checkout?</strong>
                <a href="{% url 'checkout' %}" class="btn badge-warning text-right" role="button"><span
                        class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}