body {
    background-color: #f2f3f7;
}
/*----------------------------------------------------------------------------------- Home page section*/

section {
    margin: 0;
}

.main-image {
    width: 100%;
    opacity: 0.9;
    text-align: center;
}

.home-header-container {
    margin: 8% 8%;
}

.home-header {
    text-align: center;
    font-size: 50px;
}

@media screen and (min-width: 576px) {
    section {
        margin-top: 0;
    }

    .home-header-container {
        margin-top: 20px;
    }

    .home-header {
        font-size: 40px;
    }
}

@media screen and (min-width: 780px) {
    .home-header {
        font-size: 3.5em;
    }
}

@media screen and (min-width: 1024px) {
    .home-header {
        font-size: 4.5em;
    }
}

@media screen and (min-width: 1440px) {
    .home-header {
        font-size: 7em;
    }
}

/* ------------------------------------------------------------------------------------- Footer*/

footer {
    background-color: #1a1b1c;
}

.footer-header {
    color: white;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}

.footer-header:hover {
    color: #4c4c56;
}

a:link {
    text-decoration: none;
}

.social-links {
    text-align: center;
}

.social-links li a {
    width: 10px;
}

.social-links li a i {
    color: white;
    width: 40px;
}

.social-links li a i:hover {
    color: #4c4c56;
}

.list-inline-item:not(:last-child) {
    margin-right: 5%;
}

/* --------------------------------------------------------------------------- Works*/

.Photo {
    padding-top: 2%;
}

.Photo-header {
    text-align: center;
    font-size: 50%;
}

.w-100 {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.w-100:hover {
    cursor: pointer;
}
@media screen and (min-width: 320px) {
    .d-block {
        height: 250px !important;
    }

}

@media screen and (min-width: 576px) {
    .w-100 {
        height: 125px !important;
    }

    .Photo-header {
        font-size: 60%;
    }
}

@media screen and (min-width: 768px) {
    .w-100 {
        height: 175px !important;
    }

    .Photo-header {
        font-size: 70%;
    }
}

@media screen and (min-width: 992px) {
    .w-100 {
        height: 225px !important;
    }

    .Photo-header {
        font-size: 80%;
    }
}


.Works-header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* --------------------------- Exhibitions*/

.works-video {
    padding-left: 15px;
    width: 100%;
    height: 25%;
}

.left-list {
    padding-left: 15px;
}

.right-list {
    padding-left: 15px;
}

.middle-list {
    padding-left: 15px;
}

@media screen and (min-width: 576px) {
    .left-list {
        text-align: center;
        font-size: 12px;
    }

    .right-list {
        text-align: center;
        font-size: 12px;
    }

    .middle-list {
        text-align: center;
        font-size: 12px;
    }

    .works-video {
        text-align: center;
        margin: 0 auto;
    }

    iframe {
        text-align: center;
    }

    .works-video {
        width: 60%;
    }
}

@media screen and (min-width: 768px) {
    .left-list {
        font-size: 100%;
    }

    .right-list {
        font-size: 100%;
    }

    .middle-list {
        font-size: 100%;
    }
}

p {
    font-size: 20px;
}

/* ----------------------------------------------------------------------------- About page*/

.about {
    width: 90%;
    margin-left: 2%;
    text-align: center;
}

.about-header {
    margin-left: 2%;
    text-align: center;
}

/*------- Image and container -- */

.about-image {
    width: 95%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;


}

.about-container {
    text-align: center;
}

/*------- Media queries -- */

@media screen and (min-width: 576px) {
    .about {
        text-align: left;
    }

    .about-image {
        width: 70%;
    }

    .about-container {
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .about-image {
        width: 90%;
        height: 90%;
    }

    .about-header {
        text-align: left;
    }

    .personal {
        margin-top: 2%;
    }
}

/* ----------------------------------------------------------------------------- Contact page*/

.form {
    margin-top: 5%;
    width: 100%;
}

.button {
    text-align: right;
    margin-top: 2%;
}

@media screen and (min-width: 576px) {
    .form {
        margin-top: 1.5%;
    }
}

.card {
    height:100%;
}

/* to stop the asterisk Field coming out when the django form loads */
.asteriskField{
    visibility: hidden;
}

/* ----------------------------------------------------------------------------- Photo page*/
.media-body{
    margin-left: 2%; !important;
}
.media{
    width:100%;
}
.comment-content{
    font-size: 90%;
}
/* ----------------------------------------------------------------------------- Cart*/
.cart-header{
    color:black;
    text-align: center;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.account-link{
    display: inline-block;
    text-align: right;
}