{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
<div class="about-page-container">
    <div class="row about-section">
        <div class="col-12 col-sm-12 col-lg-7 personal">
            <h1 class="about-header"> ABOUT</h1>
            <p class="about">
                Sania Nadeem is an artist currently studying the second year of her Fine Art degree at Leeds Arts
                University. Her practice focuses on the formal element of line and how such marks can be solely used to
                create pieces of artwork that have been stripped
                down to their minimalistic form. Sania has always been fascinated by line and the simplicity of it, and
                her body of work is an exploration of this.
            </p>
            <p class="about">
                'Line is a vital tool in art - almost all artworks include the use of linear marks or some form of
                outline in order to exist. When a process has been used, traces are left behind that can form truly
                exciting pieces of artwork. I found this highly intriguing
                and wanted to explore the qualities of line and how such a simple, basic form that is present in almost
                everything can be used to create intricate, complicated pieces of artwork.' - Artist statement, 2018
            </p>
        </div>
        <div class="col-12 col-sm-12 col-lg-5 about-container">
            <img class="about-image" src="{% static 'img/about-image.jpg' %}" alt="about image">
        </div>
    </div>
</div>
{% endblock content %}