{% extends 'gallery/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 exhibitions-container">
            <p class="left-list">
                'Release'
                <br> Wharf Chambers, Leeds
                <br> March 28-29, 2019
                <br>
                <br> '20 Metres of BPD'
                <br> Arts University, Leeds
                <br> March, 2019
                <br>
                <br> 'Art and Soul'
                <br> Hyde Park Book Club, Leeds
                <br> March, 2019
            </p>
        </div>
        <div class="col-12 col-sm-4 exhibitions-container">
            <p class="middle-list">
                'Goose'
                <br> Wharf Chambers, Leeds
                <br> April 26-29, 2018
                <br>
                <br> 'Reduce Reuse Recycle'
                <br> Woking Town, Woking
                <br> 2016
                <br>
                <br> 'Open Call'
                <br> Tate Modern, London
                <br> 2016
            </p>
        </div>
        <div class="col-12 col-sm-4 exhibitions-container">
            <p class="right-list">
                'Happiness'
                <br> The Lightbox, Woking
                <br> December 6-12, 2015
                <br>
                <br> 'Photography Competition'
                <br> Woking Hospice, Woking
                <br> 2015
                <br>
                <br> 'Surrey Open Photography'
                <br> The Lightbox, Woking
                <br> 2014
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 works-video">
            <div class=" embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        src="https://www.youtube.com/embed/YlkX1UG8iJk?wmode=transparent&amp;rel=0&amp;showinfo=0"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}