<footer class="container-fluid">
        <div>
            <div id="footer-details" class="row">
                <div class="col-sm-12 footer-header">
                    <ul class="list-inline social-links">
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.facebook.com/theavocadoone">
                        <i class="fab fa-facebook" aria-hidden="true"> </i>
                           <span class="sr-only">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.instagram.com/san_does_art/">
                            <i class="fab fa-instagram" aria-hidden="true"> </i>
                            <span class="sr-only">Instagram</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.youtube.com/channel/UC929gEYBikx4qkUn2wBjozg">
                             <i class="fab fa-youtube" aria-hidden="true"> </i>
                            <span class="sr-only">Youtube</span>
                       </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>