{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}


<section>

    <form class="form-inline my-0 my-lg-0 ml-auto" action="{% url 'search' %}">
        <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search"
               method="get">
    </form>




</section>

<br> <br> <br>


<div class="works-page-container">
    <div class="row ">
        {% for photo in photos %}
        <div class="col-6 col-sm-3 col-lg-3">
            <h4 style=" text-align: center"> {{ photo.title }}</h4>
            <a href="{% url 'photo' photo.id %}">
            <img  class="w-100 page-image" src="{{ photo.image.url }}" alt="First image" data-target="#carouselExample"
                 data-slide-to="{{ photo.slug }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}