{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
<form class="form-inline my-0 my-lg-0 ml-auto" action="{% url 'search' %}">
    <label></label>
    <input name="q" class="form-control" type="search" placeholder="Search for Image " aria-label="Search"
           >
</form>
<div class="works-page-container">
    <div class="row">
        {% for photo in photos %}
        <div class="col-6 col-sm-4 col-lg-3 Photo">
            <h4 class="Photo-header"> {{ photo.title }}</h4>
            <a href="{% url 'photo' photo.id %}">
                <img class="w-100 page-image" src="{{ photo.image.url }}" alt="First image"
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% include "gallery/pagination.html" with page=photos %}
{% endblock %}