{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="home-page-container">
        <div class="row">
            <div class="  col-md-4 col-sm-4 col-12 ">
                <div class="home-header-container ">
                    <h1 class="home-header">
                        SANIA
                    </h1>
                    <h1 class="home-header">
                        NADEEM
                    </h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-12  main-image ">
                <img class="main-image" src="{% static 'img/home-image.png' %}" alt="Home-image">
            </div>
        </div>
    </div>
</div>
{% endblock content %}