<nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="#">{{ user.username }}</a>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gallery' %}">WORKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'exhibitions' %}">EXHIBITIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
            </li>
        </ul>
        <!--   <form class="form-inline my-0 my-lg-0 ml-auto" action="{% url 'search' %}">
              <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search"
                     method="get">
          </form> -->


        <div class="btn-group btn-group-md">
            {% if product_count > 0 %}
            <a class="btn btn-dark button" href="{% url 'view_cart' %}">Basket:
                <span class="badge badge-warning"> {{ product_count }}</span>
                {% endif %}
            </a>
            {% if user.is_authenticated %}
            <a class="btn btn-dark button" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="btn btn-dark button" href="{% url 'login' %}">Login</a>
            <a class="btn btn-dark button" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>