{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">
            <!-- Featured image -->
            <div class="view overlay">
                <img src="{{ photo.image.url }}" class="img-fluid"
                     alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">
            <h4 class="h4 mb-4">{{ photo.title }}</h4>
            <p class="font-weight-normal">Price: £{{ photo.price }}</p>
            <p class="font-weight-normal">Date Made: {{ photo.year }} </p>
            <p class="font-weight-normal">Description: {{ photo.description }}</p>
            <form method="post" action="{% url 'add_to_cart' photo.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="quantity">
                    <span class="input-group-btn">
            <button class="btn btn-dark button" type="submit">Add</button>
          </span>
                </div>
            </form>
            <br>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </section>
    <!-- Comments -->
    <div class="container">
        {% for comment in comments %}
        <div class="row">
            <div class="media">
                <div class="media-left">
                    <img src="{{ comment.user.profile.image.url }}" class="media-object" style="width:100px">
                </div>
                <div  class="media-body">
                    <h4 style="" class="media-heading title">{{ comment.user }}</h4>
                    <p  class="comment-content" >
                        {{ comment.content }}<br>
                    </p>
                </div>
            </div>
            {% if comment.user == user %}
            <div style="text-align: right" class="media-right">
                <a class=""
                   href="{% url 'delete' comment.id photo.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <br>
        {% endfor %}
    </div>
    {% include "gallery/pagination.html" with page=comments %}
    <!--/.Comments-->
    <!--Reply-->
    {% if user.is_authenticated %}
    <div class="card mb-3 wow fadeIn">
        <div class="card-header font-weight-bold">Leave a reply</div>
        <div class="card-body">
            <!-- Default form reply -->
            <form action="{%  url 'post' photo.id user.id %}" method="post">
                <!-- Comment -->
                <label for="replyFormComment">Your comment</label>
                <textarea name="content" maxlength="600" class="form-control" id="replyFormComment"
                          rows="5"></textarea>
                {% csrf_token %}
                <div class="text-center mt-4">
                    <button class="btn btn-dark button btn-md" type="submit">Post</button>
                </div>
            </form>
            <!-- Default form reply -->
        </div>
    </div>
    {% endif %}
</div>
<!--/.Reply-->
{% endblock %}